.vscode/
node_modules/
dist/
.env
coverage
doc/
temp/
/.idea/sshConfigs.xml
/yarn-error.log
src/routes/apidocs
package-lock.json
outputCC.xlsx
*.xlsx
*.xls
*.xlsb
*.xlsm
*.csv
*.pdf
*.doc
*.docx
.gitignore
.elasticbeanstalk/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
